@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
    background: url("../img/bg.jpg") no-repeat top center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 500;
    color: #fff;
}

.tabs__item {
    display: none;
}

.tabs__item--active {
    display: block;
}

.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

img {
    max-width: 100%;
}

a {
    color: #fff;
}

.container {
    max-width: 130rem;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
}

.btn {
    display: inline-block;
    background: #2F3132;
    line-height: 4rem;
    color: #EDEDED;
    text-align: center;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.btn:hover {
    color: #fff;
}

.title {
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-weight: 900;
    color: #2F3132;
    text-align: center;
}

.text {
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: normal;
    color: #2F3132;
}

.header {
    background: rgba(197, 34, 34, .7);
    width: 100%;
    margin-bottom: 10rem;
}

.header__logo {
    position: absolute;
    top: 0;
    width: 15%;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem 0;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__list-link {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0.5rem 2rem;
    border: 1px solid #fff;
}

.menu__list-link--active {
    background: #fff;
    color: #da2525;
    border: 1px solid #EDEDED;
    -webkit-box-shadow: 0.1rem 0.1rem 0.5rem #2F3132 inset;
    box-shadow: 0.1rem 0.1rem 0.5rem #2F3132 inset;
}

.menu__list-link:hover {
    background: #fff;
    color: #da2525;
    -webkit-box-shadow: 0.5rem 0.5rem 1rem #2F3132;
    box-shadow: 0.5rem 0.5rem 1rem #2F3132;
}

.menu__item + .menu__item {
    margin-left: 2rem;
}


.hero {
    /* margin-top: 10rem; */
}

.hero__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
}

.hero__title {
    text-shadow: 0.1rem 0.1rem 0.5rem #EDEDED;
}

.team {
    margin-bottom: 1rem;
}

.team__items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}

.team__item {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0.5rem;
    border-radius: 5%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team__item:hover {
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.team__item--name {
    color: #EDEDED;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.table__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.table__item {
    margin: 2rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.table__item:hover {
    -webkit-transform: scale(1.5) translate(0, 30%);
    -ms-transform: scale(1.5) translate(0, 30%);
    transform: scale(1.5) translate(0, 30%);
}

